.app {
    font-family: sans-serif;
    text-align: center;
    text-align: center;
    display: block;
    margin: auto;
  }

.div {
  align-items: center;
}

img {
    object-fit: contain;
    height: 10px;
  }